<section id="map" class="card">
  <div class="card-header">
    <div>
      <h2>Project locations</h2>
      <span id="projectsMapMeta" class="card-meta"
        >0 countries & 0 cities selected</span
      >
    </div>

    <div id="mapLocationOptions" class="toggle-group">
      <input
        type="radio"
        id="countryCheckbox"
        name="map"
        value="country"
        checked
      />
      <label for="countryCheckbox">Per country</label>

      <input type="radio" id="cityCheckbox" name="map" value="city" />
      <label for="cityCheckbox">Per city</label>
    </div>

    <div id="mapDomainOptions" class="toggle-group">
      <input
        type="radio"
        id="mapProjectsCheckbox"
        name="mapDomain"
        value="projects"
        checked
      />
      <label for="mapProjectsCheckbox">Total projects</label>

      <input
        type="radio"
        id="mapSquareMeterCheckbox"
        name="mapDomain"
        value="squareMeter"
      />
      <label for="mapSquareMeterCheckbox">Average area</label>

      <input
        type="radio"
        id="mapAverageCostCheckbox"
        name="mapDomain"
        value="averageCost"
      />
      <label for="mapAverageCostCheckbox">Average cost</label>
    </div>
  </div>

  <div id="mapArea"></div>

  <div class="helpText">
    Color/size represents the number of NBS interventions in a certain area
  </div>

  <div id="mapTooltip" class="tooltip"></div>
</section>
