<section class="card">
  <div class="card-header">
    <div>
      <h2>Source of funding</h2>
      <span id="fundingsMeta" class="card-meta">0 selected</span>
    </div>

    <div id="fundingOptions" class="toggle-group">
      <input
        type="radio"
        id="totalProjectsCheckbox"
        name="view"
        value="totalProjects"
        checked
      />
      <label for="totalProjectsCheckbox">Total Projects</label>

      <input
        type="radio"
        id="squareMeterCheckbox"
        name="view"
        value="squareMeter"
      />
      <label for="squareMeterCheckbox">Average area</label>

      <input type="radio" id="costCheckbox" name="view" value="cost" />
      <label for="costCheckbox">Average cost</label>
    </div>
  </div>

  <div id="fundingChart"></div>
  <div id="fundingTooltip" class="tooltip"></div>
</section>
