<section id="mapSimilarityBands" class="card">
  <div id="mapHeader">
    <h2>Similarity</h2>
    <div id="mapMeta"></div>
  </div>

  <svg id="mapVis" width="920" height="460" role="img"></svg>

  <div id="mapHelp">
    Circles represent cities in the filtered results (size = number of
    interventions). Click a circle to see city-specific results.
  </div>

  <div id="cityResults">
    <div id="cityResultsHeader">
      <div id="cityResultsTitle">City results</div>
      <button id="clearCityBtn" type="button">Clear selection</button>
    </div>
    <div id="cityResultsBody">
        <!-- JS Will render results here -->
    </div>
    <div id="mapTooltip" class="tooltip"></div>

  </div>
</section>
