<section id="map" class="card">
  <div class="card-header">
    <h2>Project locations</h2>

    <div id="mapOptions" class="toggle-group">
      <input
        type="radio"
        id="countryCheckbox"
        name="map"
        value="country"
        checked
      />
      <label for="countryCheckbox">Per country</label>

      <input type="radio" id="cityCheckbox" name="map" value="city" />
      <label for="cityCheckbox">Per city</label>
    </div>
  </div>

  <div id="mapArea"></div>

  <div class="helpText">
    Color/size represents the number of NBS interventions in a certain area
  </div>

  <div id="mapTooltip" class="tooltip"></div>
</section>
