#compareToolbar {
  position: fixed;
  bottom: 0;
  right: 20px;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 0px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#compareToolbar button {
  border-radius: 10px 10px 0px 0px;
  background-color: var(--bg-secondary);
  padding: 0px 0px;
}

#compareToolbar button:hover {
  background-color: var(--bg-overlay-hover-secondary);
}

#compareToolbar .disabled {
  background-color: var(--bg-overlay-disabled);
  color: var(--muted);
  cursor: not-allowed;
  border: 1px solid var(--border-disabled);
}
