#mapArea {
  border-radius: 12px;
  height: 600px;
  margin: 10px 0px;
}

.mapLegend {
  font-family: "Poppins";
}

#legend div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#legend i {
  display: block;
  height: 10px;
  width: 50px;
  opacity: 0.7;
}

#legend {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  font-size: 11px;
}
