<section id="map" class="card">
  <div class="card-header">
    <h2>Map of filtered cities</h2>

    <div id="mapOptions" class="toggle-group">
      <input
        type="radio"
        id="countryCheckbox"
        name="map"
        value="country"
        checked
      />
      <label for="countryCheckbox">Per country</label>

      <input type="radio" id="cityCheckbox" name="map" value="city" />
      <label for="cityCheckbox">Per city</label>
    </div>
  </div>

  <div>
    <svg id="mapVis" width="920" height="460" role="img"></svg>
    <div style="height: 500px;" id="map"></div>
  </div>

  <div id="mapHelp">
    Circles represent cities in the filtered results (size = number of
    interventions).
  </div>

  <div id="mapTooltip" class="tooltip"></div>
</section>
