#fundingChart svg {
  width: 100%;
}

.bar {
  transition: fill 0.2s ease;
}

text {
  font-family: "Poppins";
  font-size: 11px;
  fill: var(--muted);
}

.axis-label {
  font-size: 13px;
  font-weight: 500;
}

.bar:hover {
  fill: #ff7f0e;
}

.toggle-buttons {
  display: flex;
  gap: 8px;
}

.toggle-btn {
  padding: 8px 25px;
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
}

.labelInside {
  text-anchor: end;
  fill: black;
}

.labelOutside {
  text-anchor: start;
  fill: white;
}
