<section id="compareWrapper">
  <button id="backToExplore">
    <i class="bi bi-arrow-left"></i> Go back
  </button>
  <div id="compareHeader" class="card-header">
    <h1>Compare projects</h1>
    <div class="switchWrapper">
      <div>Only show differences</div>
      <div>
        <label class="switch">
          <input type="checkbox" id="differentFieldsSlider" />
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>
  <table id="compareTable"></table>
</section>
