#compareMount {
  max-width: 1600px;
  margin: 10px auto 50px auto;
  padding: 14px;
}

#compareMode {
  display: none;
}

#backToExplore {
  width: auto;
  padding: 11px 22px;
  border: none;
}

#compareWrapper h1 {
  margin-bottom: 12px;
}

#compareHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#compareTable th {
  cursor: default;
}
